@page
@model MoonriseMovies.Pages.Account.LoginSuccessModel
@{
    ViewData["Title"] = "Login successful!";
}

<h3>@ViewData["Title"]</h3>
<br>
<a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a>

