@page
@model MoonriseMovies.Pages.Account.LoginSuccessModel
@{
    ViewData["Title"] = "Login successful!";
}
<div class="container text-center m-4 p-4 bg-dark rounded"><h1>@ViewData["Title"]</h1>
<br>
<a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a></div>


