@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container text-center bg-dark rounded m-4 p-4">
    <h1>@ViewData["Title"]</h1>
    <br>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-danger">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</div>
