@page
@model MoonriseMovies.Pages.Admin.AddSuccessModel
@{
    ViewData["Title"] = "AddSuccess";
}

<h4 class="success">You have successfully added the record!</h4>
<br>
<a asp-page="../Admin/Index">Back to dashboard</a>