@page
@model MoonriseMovies.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<br>
<h4>Admin @ViewData["Title"]:</h4><br>
<a class="adminLinks" asp-page="../Admin/Movies/Movies">Movies</a><br>
<a class="adminLinks" asp-page="../Admin/Screenings/Screenings">Screenings</a><br>
<a class="adminLinks" asp-page="../Admin/Users/Users">Users</a><br><br>
<a class="adminLinks" asp-page="../Admin/Chart">Chart</a><br>
<a class="adminLinks" asp-page="../Admin/BlobStorage">Blob Storage in Azure</a><br>
<br><br><br>
<a class="adminLinks" asp-page="../Index">Exit</a>

