@page
@model MoonriseMovies.Pages.Admin.UploadToBlobModel
@{
    ViewData["Title"] = "Upload to Blob Azure Storage";
}

<a class="adminLinks" asp-page="../../Admin/Blobs/Index">Back to Blobs</a><br><br>
<h4>Upload to Blob Azure Storage:</h4><br>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Choose File</label>
                <input type="file" name="files" class="form-control" />
            </div><br>
            <br>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

