html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(23, 23, 27);
  color: #fff;
}

#moviepricing{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://localhost:7032/image/herosection.jpg');
  background-size: 130%;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 25px;
}


#featuredmovie{
  /* background-image: url('../images/Top-Gun-Maverick.webp'); */
  background-size: cover;
  background-position-y: -75px;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 25px;
}

#day{
  width: 150px;
}

.adminLinks{
  text-decoration: none;
  color: orange;
}

.adminLinks:hover{
  color: rgb(239, 221, 187);
}

.table{
  color: white;
}