html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(23, 23, 27);
  color: #fff;
}

#moviepricing{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://moonrizemovie.blob.core.windows.net/moonrize/herosection.jpg?sp=r&st=2022-11-13T15:33:05Z&se=2024-11-13T23:33:05Z&spr=https&sv=2021-06-08&sr=b&sig=5%2B1V4Tq1wwCcvkBpr0GbYNBKjKuAu4kVLZbEiWYi5N4%3D');
  background-size: 175%;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 25px;
}

#playingthisweek{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://moonrizemovie.blob.core.windows.net/moonrize/2665.jpg?sp=r&st=2022-11-13T15:32:33Z&se=2024-11-13T23:32:33Z&spr=https&sv=2021-06-08&sr=b&sig=%2FdAcnGfyKyFf171%2Bfz%2BYqq%2FzFR2txk%2FZ%2FibuJi7BXxg%3D');
  background-size: 180%;
  background-repeat: no-repeat;
  background-position-y: -175px;
  width: 100%;
  border-radius: 25px;
}

#featuredmovie{
  /* background-image: url('../images/Top-Gun-Maverick.webp'); */
  background-size: cover;
  background-position-y: -75px;
  background-position-x: -75px;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 25px;
}

#day{
  width: 150px;
}

.adminLinks{
  text-decoration: none;
  color: orange;
}

.adminLinks:hover{
  color: rgb(239, 221, 187);
}

.table{
  color: white;
}