@page
@model MoonriseMovies.Pages.AccessDeniedModel
@{
}

<p>Access denied!!! You are not authorized to visit this page!</p>
<a class="nav-link" asp-area="" asp-page="/Index">Click here to return home.</a>