@page
@model MoonriseMovies.Pages.AccessDeniedModel
@{
}
<br>
<div class="container text-center bg-dark text-light rounded">
<h1>Access denied!<br> You must be signed in as an Administrator to access this page.</h1>
<a class="nav-link" asp-area="" asp-page="/Index">Click here to return home.</a>
</div>