@page
@model MoonriseMovies.Pages.AddReviewSuccessModel
@{
    ViewData["Title"] = "AddSuccess";
}

<h4 class="success">You have successfully added the record!</h4>
<br>
<a asp-page="/Index">Back to main page</a>