@page
@model MoonriseMovies.Pages.FailAddReviewModel
@{
}

<p>Sorry!!! We can not register your review. You left the review earlier!</p>
<a class="nav-link" asp-area="" asp-page="/Index">Click here to return home.</a>