@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="featuredmovie">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Playing This Week</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Discorver super sonic speeds and much more this week with Top Gun: Maverick featuring Tom Cruise.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Book Now</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">More Movies</button>
        </div>
        </div>
    </div>
</div>
<div id="moviepricing">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Admission</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Adults: 20$ <br> Childen under 10: 0$ <br> Skip the line by ordering your ticket online!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create an Account</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button>
        </div>
        </div>
    </div>
</div>
<div class="px-4 py-5 my-5 text-center">
    <h3 class="display-5 fw-bold">Check out what's playing this Week</h3>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
        <button type="button" id="day" class="btn btn-danger btn-lg">Sunday</button>
    </div>
    <div class="col">
        <button type="button" id="day" class="btn btn-danger btn-lg">Monday</button>
    </div>
    <div class="col">
        <button type="button" id="day" class="btn btn-danger btn-lg">Tuesday</button>
    </div>
    <div class="col">
        <button type="button" id="day" class="btn btn-danger btn-lg">Wednesday</button>
    </div>
    <div class="col">
        <button type="button" id="day" class="btn btn-danger btn-lg">Thursday</button>
    </div>
    <div class="col">
        <button type="button" id="day" class="btn btn-danger btn-lg">Friday</button>
    </div>
    <div class="col">
        <button type="button" id="day" class="btn btn-danger btn-lg">Saturday</button>
    </div>
  </div>


