@page
@model MoonriseMovies.Pages.OrderSuccessModel
@{
    ViewData["Title"] = "AddSuccess";
}
<br>
<h1 class="success">Thank you for your booking!</h1><br>
<h3>There might still be a bit of wait,<br> Pay now using Stripe to skip the line.</h3><br><a href="https://buy.stripe.com/test_7sI7vt0RkcUH8TefYZ" target="_blank"><button class="btn btn-danger btn-lg">Pay Now</button></a>
<br>
<a asp-page="/Index">Back to main page</a>