@page
@model MoonriseMovies.Pages.PasswordSuccessModel
@{
    ViewData["Title"] = "Success";
}

<h4 class="success">You have successfully changed the password!</h4>
<br>
<a asp-page="/Index">Back home</a>