@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We solemnly swear to keep all of your personal details private and to only use them for the express business purposes that they were given.</p>
<p>For a short video description of all the things we will not do with your personal information please click on the link below.</p>
 <a href=https://youtu.be/dQw4w9WgXcQ target="_blank" class="btn btn-danger">Privacy <i class="bi bi-youtube"></i></a>
