@page
@model MoonriseMovies.Pages.ReviewViewModel
@{
    ViewData["Title"] = "Review View";
}
<asp:ScriptManager ID="asm" runat="server" /> <!--runat calls the server and can communicate with our backend and control the elements value and then some-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
 <h4>under construction</h4>